// importa tipografía desde google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");


// asigna la tipografía por defecto
$font-family-sans-serif: "PT Sans", sans-serif;


// modifica los colores por defecto
$red: #bb0000;
$black: #000000;